<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Timestamp Results</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<style>
body { padding-top:50px; }
</style>    
</head>
<body>
<div class="container">
    <h1><span id="val">Results - The IP address, language and operating system for browser.<%=tagline %>
    </span></h1>
<h2>Output:</h2>
<ul  class="jumbotron">
    <li>IP: <%=s_ip %></li>
    <li>Language: <%=lang %></li>
    <li>Browser: <%=browser %></li>    
</ul>
</div>
</body>
</html>